.card-icons {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;

  .liked {
    display: none;
    background: var(--button-background);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & i {
    font-size: 25px;
  }
  input[type="checkbox"] {
    display: none;

    &:checked ~ .disliked {
      display: none;
    }
    &:checked ~ .liked {
      display: inline-block;
    }
  }
}
.card-icons:hover {
  transform: scale(1.1);
  opacity: 0.5;
}
