.cta {
  background: var(--button-background);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  color: var(--white);
  padding: 13px 18.75px;

  &:hover {
    transform: scale(1.15);
    opacity: 0.5;
  }
}
