footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #353535;
  padding: 25px 22px;

  h2 {
    font-family: "Shrikhand", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 7px;

  .text-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;

    h5 {
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
    }
    .fa-solid {
      color: #fff;
    }
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
    .footer {
      flex-direction: row;
    }
  }
}
