@mixin dflexgeneral {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  @include dflexgeneral();
  flex-direction: column;
  border-color: var(--background-color);
  box-shadow: 5px 0px 20px #a7a7a7;
  position: relative;

  .logo {
    @include dflexgeneral();
    background: var(--white);
    margin: 14px 89px 13px 89px;
    width: 100%;
    a {
      position: absolute;
      left: 3%;
      margin-right: 42px;
    }

    img {
      width: 197px;
      height: 36px;
    }
  }
}
