@import "header.scss";
@import "footer.scss";
@import "cta.scss";
@import "coeur.scss";
@import "loader.scss";

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
  color: black;
}

:root {
  --background-color: #f6f6f6;
  --button-background: linear-gradient(to top, #9356dc, #ff79da);
  --nouveau: #99e2d0;
  --nouveau-font: #008766;
  --grey: #353535;
  --grey-2: #eaeaea;
  --white: #fff;
}

body {
  margin: 0;
  border-color: var(--background-color);
  animation: OverFloww 3s both;
  -webkit-animation: OverFloww 9s both;
}

@mixin dfcolomun {
  display: flex;
  flex-direction: column;
}

header {
  a {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
}
.location {
  @include dflexgeneral();
  width: 100%;
  background-color: var(--grey-2);
  height: 50px;
  gap: 17px;

  svg {
    color: var(--grey);
    width: 12px;
    height: 16px;
  }

  .p-loc {
    color: var(--grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.info {
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
  padding: 39px 0;

  h1 {
    font-size: 1.5rem;
    padding: 0 58px 10px 42px;
  }
  p {
    font-weight: 300;
    padding: 0 34px 27px 26px;
  }
}

.fonctionnement {
  @include dflexgeneral();
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 68px;
  gap: 24.92px;
  align-items: stretch;
  .f-container {
    @include dflexgeneral;
    flex-direction: column;
    gap: 24.94px;

    h2 {
      padding-left: 20px;
    }

    .f-box {
      @include dflexgeneral();
      justify-content: normal;
      gap: 10px;
      background-color: var(--background-color);
      width: -webkit-fill-available;
      margin: 0 20px 0 32.51px;
      height: 72.379px;
      border-radius: 15px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.01);
        background: #bfabd8b7;
      }
    }

    h3 {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    h4 {
      position: relative;
      right: 10px;
      color: var(--grey-2);
      font-size: small;
      background-color: #9356dc;
      padding: 0 4.5px;
      border-radius: 100%;
    }
  }
}

.restaurants {
  background-color: var(--background-color);
  padding-bottom: 66px;
  h2 {
    margin: 54px 0 20px 0;
  }
  .card-contener {
    @include dfcolomun();

    row-gap: 18px;
  }
  .card {
    @include dfcolomun();
    position: relative;
    margin: 0 17px 0 18px;
    height: 100%;
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: all 0.5s;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
    .card-content {
      @include dflexgeneral;
      flex-direction: row;
      justify-content: space-between;
      margin: 16px 25px 12px 13px;
    }
    .card-txt {
      @include dfcolomun();
      row-gap: 5px;
    }
    &:hover {
      transform: scale(1.01);
      opacity: 0.75;
    }
  }
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 40;
  background-color: var(--nouveau);
  color: var(--nouveau-font);
  width: 89px;
  height: 29px;
  border-radius: 2px;
}

//desktop
@media only screen and (min-width: 1024px) {
  .info {
    padding: 30px 0;
    h1 {
      padding: 0 0 18px 0;
    }
  }

  .fonctionnement {
    padding: 50px 12.5%;
    .f-container {
      flex-direction: row;
      .f-box {
        white-space: nowrap;
        margin: 0;
      }
    }
  }

  .restaurants {
    padding: 0 12.5%;
    .card-contener {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 50px;
      column-gap: 100px;
      padding-bottom: 30px;
    }
    .card {
      margin: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .fonctionnement {
    align-items: center;
    .f-container {
      width: 50%;
    }
  }
  .restaurants {
    padding: 0 12.5%;
    .card-contener {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 50px;
      column-gap: 100px;
      padding-bottom: 30px;
    }
    .card {
      margin: 0;
      img {
        height: 100px;
      }
    }
  }
}
