@import "header.scss";
@import "footer.scss";

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
  color: black;
}

:root {
  --background-color: #f6f6f6;
  --button-background: linear-gradient(to top, #9356dc, #ff79da);
  --nouveau: #99e2d0;
  --nouveau-font: #008766;
  --grey: #353535;
  --grey-2: #eaeaea;
  --white: #fff;
}

body {
  margin: 0;
  border-color: var(--background-color);
}

@mixin dfcolomun {
  display: flex;
  flex-direction: column;
}

header {
  a {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
}
.location {
  @include dflexgeneral();
  width: 100%;
  background-color: var(--grey-2);
  height: 50px;
  gap: 17px;

  svg {
    color: var(--grey);
    width: 12px;
    height: 16px;
  }

  .p-loc {
    color: var(--grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.info {
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
  padding: 50px 0;

  h1 {
    font-size: 1.5rem;
    padding: 0 58px 10px 42px;
  }
  p {
    font-weight: 300;
    padding: 0 34px 27px 26px;
  }

  .cta {
    background: var(--button-background);
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.15);
    }

    h3 {
      color: var(--white);
      margin: 13px 18.75px;
    }
  }
}

.fonctionnement {
  @include dflexgeneral();
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 68px;
  gap: 24.92px;
  align-items: flex-start;
  h2 {
    padding-left: 20px;
  }

  .f-box {
    @include dflexgeneral();
    justify-content: normal;
    gap: 10px;
    background-color: var(--background-color);
    width: -webkit-fill-available;
    margin: 0 20px 0 32.51px;
    height: 72.379px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.01);
      background: #bfabd8b7;
    }
  }

  h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  h4 {
    position: relative;
    right: 10px;
    color: var(--grey-2);
    font-size: small;
    background-color: #9356dc;
    padding: 0 4.5px;
    border-radius: 100%;
  }
}

.restaurants {
  background-color: var(--background-color);
  padding-bottom: 66px;
  h2 {
    margin: 54px 0 20px 0;
  }
  .card-contener {
    @include dfcolomun();
    position: relative;
    row-gap: 18px;
  }
  .card {
    @include dfcolomun();
    margin: 0 17px 0 18px;
    height: 100%;
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: all 0.5s;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
    .card-content {
      @include dflexgeneral;
      flex-direction: row;
      justify-content: space-between;
      margin: 16px 25px 12px 13px;
    }
    .card-txt {
      @include dfcolomun();
      row-gap: 5px;
    }
    &:hover {
      transform: scale(1.01);
      opacity: 0.75;
    }
  }
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 40;
}
button:hover {
  opacity: 0.5;
}

.card-icons {
  & i {
    font-size: 25px;
  }
  input[type="checkbox"] {
    display: none;

    &:checked ~ .disliked {
      display: none;
    }
    &:checked ~ .liked {
      display: inline-block;
    }
  }

  .fa-solid.liked {
    display: none;
    background: var(--button-background);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
i:hover {
  transition: all 0.5s;
  & {
    transform: scale(1.1);
    opacity: 0.5;
  }
}
