.loader {
  position: absolute;
  text-align: center;
  display: block;
  width: 100%;
  height: 300vh;
  z-index: 10000;
  background-color: #353535;
  animation: appear 3s linear both;
  -webkit-animation: appear 3s linear both;
  em {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    font-style: normal;
    font-family: "Shrikhand", sans-serif;
    color: #f6f6f6;
    font-size: 2rem;
    animation: appear 3s linear both;
    -webkit-animation: appear 3s linear both;
  }
}

.circle {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  border: 10px solid rgba($color: #f6f6f6, $alpha: 0.5);
  width: 200px;
  z-index: 10001;
  border-radius: 1000px;
}

.circle::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  border-top: 20px solid rgba($color: #9356dc, $alpha: 1);
  width: 50px;
  border-radius: 1000px;
  z-index: 10003;
  --webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    left: -10px;
  }
  50% {
    left: 165px;
  }
  100% {
    left: -10px;
  }
}

@keyframes spin-reverse {
  0% {
    left: 165px;
  }
  100% {
    left: -10px;
  }
}

@keyframes appear {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes OverFloww {
  from {
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
  }
  to {
    overflow: scroll;
    -webkit-overflow-scrolling: scroll;
  }
}
