@import "header.scss";
@import "footer.scss";

:root {
  --background-color: #f6f6f6;
  --button-background: linear-gradient(to top, #9356dc, #ff79da);
  --nouveau: #99e2d0;
  --nouveau-font: #008766;
  --grey: #353535;
  --grey-2: #eaeaea;
  --white: #fff;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  border-color: var(--background-color);
}

header {
  a {
    display: block;
  }
}
