header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: var(--background-color);
  box-shadow: 5px 0px 20px #a7a7a7;
  position: relative;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  margin: 14px 89px 13px 89px;
  width: 100%;
}
header .logo a {
  position: absolute;
  left: 3%;
  margin-right: 42px;
}
header .logo img {
  width: 197px;
  height: 36px;
}

@media only screen and (min-width: 1024px) {
  header .logo {
    margin: 30px 0px 31.798px 0px;
  }
}
footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #353535;
  padding: 25px 22px;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer .text-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer .text-footer h5 {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}
.footer .text-footer .fa-solid {
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
  }
  footer .footer {
    flex-direction: row;
  }
}
.cta {
  background: var(--button-background);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  color: var(--white);
  padding: 13px 18.75px;
}
.cta:hover {
  transform: scale(1.15);
  opacity: 0.5;
}

.card-icons {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}
.card-icons i {
  font-size: 25px;
}
.card-icons input[type=checkbox] {
  display: none;
}
.card-icons input[type=checkbox]:checked ~ .disliked {
  display: none;
}
.card-icons input[type=checkbox]:checked ~ .liked {
  display: inline-block;
}
.card-icons .liked {
  display: none;
  background: var(--button-background);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-icons :hover {
  transition: all 0.5s;
}
.card-icons :hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.loader {
  position: absolute;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #353535;
  animation: appear 3s linear both;
  -webkit-animation: appear 3s linear both;
}
.loader em {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 10001;
  font-style: normal;
  font-family: "Shrikhand", sans-serif;
  color: #f6f6f6;
  font-size: 2rem;
  animation: appear 3s linear both;
  -webkit-animation: appear 3s linear both;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid rgba(246, 246, 246, 0.5);
  width: 200px;
  z-index: 10001;
  border-radius: 1000px;
}

.circle::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  border-top: 20px solid #9356dc;
  width: 50px;
  border-radius: 1000px;
  z-index: 10003;
  --webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    left: -10px;
  }
  50% {
    left: 165px;
  }
  100% {
    left: -10px;
  }
}
@keyframes spin-reverse {
  0% {
    left: 165px;
  }
  100% {
    left: -10px;
  }
}
@keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes OverFloww {
  from {
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
  }
  to {
    overflow: scroll;
    -webkit-overflow-scrolling: scroll;
  }
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
  color: black;
}

:root {
  --background-color: #f6f6f6;
  --button-background: linear-gradient(to top, #9356dc, #ff79da);
  --nouveau: #99e2d0;
  --nouveau-font: #008766;
  --grey: #353535;
  --grey-2: #eaeaea;
  --white: #fff;
}

body {
  margin: 0;
  border-color: var(--background-color);
  animation: OverFloww 3s both;
  -webkit-animation: OverFloww 9s both;
}

header a {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--grey-2);
  height: 50px;
  gap: 17px;
}
.location svg {
  color: var(--grey);
  width: 12px;
  height: 16px;
}
.location .p-loc {
  color: var(--grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.info {
  width: 100%;
  text-align: center;
  background-color: var(--background-color);
  padding: 39px 0;
}
.info h1 {
  font-size: 1.5rem;
  padding: 0 58px 10px 42px;
}
.info p {
  font-weight: 300;
  padding: 0 34px 27px 26px;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 68px;
  gap: 24.92px;
  align-items: stretch;
}
.fonctionnement .f-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24.94px;
}
.fonctionnement .f-container h2 {
  padding-left: 20px;
}
.fonctionnement .f-container .f-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: normal;
  gap: 10px;
  background-color: var(--background-color);
  width: -webkit-fill-available;
  margin: 0 20px 0 32.51px;
  height: 72.379px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s;
}
.fonctionnement .f-container .f-box:hover {
  transform: scale(1.01);
  background: rgba(191, 171, 216, 0.7176470588);
}
.fonctionnement .f-container h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.fonctionnement .f-container h4 {
  position: relative;
  right: 10px;
  color: var(--grey-2);
  font-size: small;
  background-color: #9356dc;
  padding: 0 4.5px;
  border-radius: 100%;
}

.restaurants {
  background-color: var(--background-color);
  padding-bottom: 66px;
}
.restaurants h2 {
  margin: 54px 0 20px 0;
}
.restaurants .card-contener {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.restaurants .card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 17px 0 18px;
  height: 100%;
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.5s;
}
.restaurants .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants .card .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 25px 12px 13px;
}
.restaurants .card .card-txt {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.restaurants .card:hover {
  transform: scale(1.01);
  opacity: 0.75;
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 40;
  background-color: var(--nouveau);
  color: var(--nouveau-font);
  width: 89px;
  height: 29px;
  border-radius: 2px;
}

@media only screen and (min-width: 1024px) {
  .info {
    padding: 30px 0;
  }
  .info h1 {
    padding: 0 0 18px 0;
  }
  .fonctionnement {
    padding: 50px 12.5%;
  }
  .fonctionnement .f-container {
    flex-direction: row;
  }
  .fonctionnement .f-container .f-box {
    white-space: nowrap;
    margin: 0;
  }
  .restaurants {
    padding: 0 12.5%;
  }
  .restaurants .card-contener {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 100px;
    padding-bottom: 30px;
  }
  .restaurants .card {
    margin: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=index.css.map */
