header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: var(--background-color);
  box-shadow: 5px 0px 20px #a7a7a7;
  position: relative;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  margin: 14px 89px 13px 89px;
  width: 100%;
}
header .logo a {
  position: absolute;
  left: 3%;
  margin-right: 42px;
}
header .logo img {
  width: 197px;
  height: 36px;
}

@media only screen and (min-width: 1024px) {
  header .logo {
    margin: 30px 0px 31.798px 0px;
  }
}
footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #353535;
  padding: 25px 22px;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer .text-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer .text-footer h5 {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}
.footer .text-footer .fa-solid {
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: center;
  }
  footer .footer {
    flex-direction: row;
  }
}
.card-icons {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}
.card-icons i {
  font-size: 25px;
}
.card-icons input[type=checkbox] {
  display: none;
}
.card-icons input[type=checkbox]:checked ~ .disliked {
  display: none;
}
.card-icons input[type=checkbox]:checked ~ .liked {
  display: inline-block;
}
.card-icons .fa-solid.liked {
  display: none;
  background: var(--button-background);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

i:hover {
  transition: all 0.5s;
}
i:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

:root {
  --background-color: #f6f6f6;
  --button-background: linear-gradient(to top, #9356dc, #ff79da);
  --nouveau: #99e2d0;
  --nouveau-font: #008766;
  --grey: #353535;
  --grey-2: #eaeaea;
  --white: #fff;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  border-color: var(--background-color);
}

header {
  box-shadow: none;
}
header a {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
}
main h1 {
  padding-top: 40px;
  padding-left: 17px;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}
main .title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
main .title h2 {
  font-size: 1rem;
  font-weight: 300;
}
main .title .underline {
  background: var(--nouveau);
  width: 40px;
  height: 3px;
  display: block;
}

.lpdg {
  display: flex;
  flex-direction: column;
  position: relative;
}
.lpdg img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.lpdg-container {
  border-radius: 15px 15px 0 0;
  background-color: var(--background-color);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 220px;
  z-index: 1;
}
.lpdg-container .en-tete .card-icons {
  bottom: 0;
  top: 3rem;
  right: 1.438rem;
  height: 25px;
}
.lpdg-container .little-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 10px;
  padding: 15px;
}

.lc-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.lc-content .lc-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lc-content .lc-txt h3 {
  font-size: 18px;
}
.lc-content .lc-txt p {
  font-size: 15px;
}
.lc-content span {
  font-weight: 700;
}

/*# sourceMappingURL=restaurant.css.map */
